<div class="container-fluid player">
    <div class="row mb-3">
        <app-music-progress></app-music-progress>
    </div>
    <div class="row">
        <div class="col-10">
            <div class="row no-space-title">
                <div class="col-1 mt-1">
                    <img src="https://i.scdn.co/image/b46891a270f415127ee9c7b89b5860f91bab9115" width="60%" alt="">
                </div>
                <div class="col-9">
                    <div class="lecteur-artist-item">
                        <div class="artist-name">
                            Rihanna - Work (Last King REMIX)
                        </div>
                        <div class="song-item">
                            Last King 0:54 / 4:15
                        </div>
                        <i class="fa fa-heart"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2 mt-3">
            <div class="row">
                <div class="col">
                    <i class="fa fa-step-backward"></i>
                </div>
                <div class="col">
                    <i class="fa fa-play"></i>
                    <i class="fa fa-pause"></i>
                </div>
                <div class="col">
                    <i class="fa fa-step-forward"></i>
                </div>
            </div>
            <div class="row">
                <div class="col-1">
                    <i class="fa fa-volume-up"></i>
                </div>
                <div class="col-9">
                    <div class="volume"></div>
                </div>
            </div>
        </div>
    </div>
</div>