.card-song {
    width: 100%;
}

.card-song-img {
    width: 100%;
}

.card-song-body {
    flex: 1 1 auto;
    padding: 10px;
}

.artist-name,
.artist-album {
    position: relative;
    left: -9px;
}

.artist-album {
    font-weight: 700;
}

.mb-stream {
    margin-bottom: 100px;
}