<div class="row">
    <div class="col">
        <app-item-user></app-item-user>
    </div>
    <hr>
</div>
<div class="row">
    <div class="col">
        <h2>Menu</h2>
    </div>
</div>
<div class="row body">
    <div class="col-12">
        <div class="row">
            <app-item-menu name="" icon="" routerLink="/top"></app-item-menu>
        </div>
        <div class="row">
            <app-item-menu name="" icon="" routerLink="/stream"></app-item-menu>
        </div>
        <div class="row">
            <app-item-menu name="" icon="" routerLink="/like"></app-item-menu>
        </div>
        <div class="row">
            <app-item-menu name="" icon="" routerLink="/playlist"></app-item-menu>
        </div>
    </div>
</div>