<div class="ml-3">
    <div class="row">

        <div class="menu-user">
            <app-item-user></app-item-user>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4 class="ml-2">Menu</h4>
        </div>
    </div>
    <div class="row body">
        <div class="col-12">
            <div class="row">
                <app-item-menu name="" icon="" routerLink="/top"></app-item-menu>
            </div>
            <div class="row">
                <app-item-menu name="" icon="" routerLink="/stream"></app-item-menu>
            </div>
            <div class="row">
                <app-item-menu name="" icon="" routerLink="/like"></app-item-menu>
            </div>
            <div class="row">
                <app-item-menu name="" icon="" routerLink="/playlist"></app-item-menu>
            </div>
        </div>
    </div>
</div>