.input-group-prepend .input-group-text {
    color: white;
    background-color: inherit;
    border: none;
    position: relative;
    left: -39px;
}

input.form-control.search {
    background-color: inherit !important;
    border:none;
    border-bottom: 1px solid white !important;
    border-radius: 0;
}

input.form-control.search:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: white;
  }
